root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.prisma]
indent_size = 2
tab_width = 2

[{*.ats,*.cts,*.mts,*.selectors.ts,*.state.ts,*.ts,*actions.ts}]
indent_size = 2
tab_width = 2

[{*.cjs,*.js}]
indent_size = 2
tab_width = 2
